.BoardForm {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  width: 20rem;
  padding: 1.5rem;
  border-radius: 0.2rem;
  margin: 1rem auto;
  background-color: white;
  h2 {
    font-size: 1.4rem;
    margin-left: 0.2rem;
    margin-bottom: 0.8rem;
    text-decoration: underline;
  }
  .input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    label {
      margin: 0.2rem;
    }
    input {
      margin: 0 0.2rem;
      border: 1px solid lightgray;
      padding: 0.2rem;
      border-radius: 0.2rem;
      margin-bottom: 0.3rem;

      &.error {
        border: 2px solid red;
      }
    }
    .error-message {
      margin-bottom: 0.2rem;
      color: red;
      font-size: 0.8rem;
      &::before {
        content: '* ';
      }
    }
  }
  button {
    background-color: lightgreen;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    &:hover {
      cursor: pointer;
      background-color: lightblue;
      color: white;
    }
    &.error {
      background-color: lightgray;
      &:hover {
        background-color: lightgray;
        color: rgb(156, 156, 156);
      }
    }
  }
}
