body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 10rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

.page-container {
  position: relative;
  margin-top: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.habits-table-container {
  overflow-y: hidden;
  padding-bottom: 1rem;
}

.splash-screen {
  margin: 0 auto;
  width: fit-content;
}

.stability-ball {
  width: 100%;
  max-width: 600px;
  height: auto;
  overflow: auto;
}

.control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 14rem;
  margin: 0 auto;
}

.view-buttons {
  display: flex;
  margin-left: 1rem;
  svg {
    height: 1.4rem;
    width: auto;
    margin: 0 0.2rem;
    &:hover {
      cursor: pointer;
    }
    &.selected {
      fill: lightcoral;
    }
  }
}

.hide-on-mobile {
  @include mobile {
    display: none;
  }
}

// Colors - Need Better Colors
$base1: #abc3e7;
$base2: #4c4e58;
$base3: #e7cfab;
$base5: #f4c6bc;
$base6: #ffb3ba;
$base7: #ffdfba;
$base4: #abe7cf;
$base8: #baffc9;
$base9: #bae1ff;
