body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 10rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

.page-container {
  position: relative;
  margin-top: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.habits-table-container {
  overflow-y: hidden;
}

.stability-ball {
  width: 100%;
  max-width: 600px;
  height: auto;
  overflow: auto;
}
