.HabitsTable {
  border-collapse: collapse;
  margin: 1.5rem 1rem;
  margin-bottom: 0;
  @include desktop {
    margin: 2rem auto;
  }

  td {
    width: 35px;
    height: 35px;
    min-width: 35px;
    min-height: 35px;
    border: dotted 1px #000000;
    &:hover {
      background-color: lightgray;
      cursor: pointer;
    }
  }

  th {
    padding-bottom: 0.3rem;
  }

  .th-dropdown {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .habit-name {
    font-weight: bold;
    padding: 0 0.5rem;
    white-space: nowrap;

    .habit-name-items {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .trash-icon {
        width: 10px;
        margin-left: 0.8rem;
        margin-right: 0.2rem;
        color: black;
        &:hover {
          color: red;
          cursor: pointer;
        }
      }
    }
  }

  .point {
    display: block;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    margin: 0 auto;
  }
}
