.HabitsTable {
  border-collapse: collapse;
  margin: 2rem auto;
  margin-bottom: 0;
  td {
    width: 35px;
    height: 35px;
    min-width: 35px;
    min-height: 35px;
    border: dotted 1px #000000;
    // vertical-align: middle;
    &:hover {
      background-color: lightgray;
    }
  }

  th {
    padding-bottom: 0.3rem;
  }

  .habit-name {
    font-weight: bold;
    padding: 0 0.5rem;
  }

  .point {
    display: block;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    margin: 0 auto;
  }
}
