.Home {
  display: flex;
  section {
    border: 1px solid gray;
    border-radius: 0.2rem;
    margin: 0.5rem;

    &:hover {
      background-color: lightcoral;
      h2 {
        text-decoration: underline;
      }
    }
    picture {
      margin: 1rem;
    }
    h2 {
      width: fit-content;
      margin: 1rem auto;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}
