.Boards {
  margin-top: -1rem;
  overflow-y: hidden;
}

.KanbanBoard {
  position: relative;
  margin: 1rem auto;
  max-height: 80vh;
  max-width: 95vw;
  min-width: 50rem;
  .remove-board-btn {
    padding: 0.2rem;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: transparent;
    .close-icon {
      width: 1rem;
      height: auto;
      &:hover {
        fill: lightcoral;
        cursor: pointer;
      }
    }
  }
  .KanbanBoardColumns {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 0.2rem;
    background-color: lightblue;
    padding: 0.5rem 0;
  }
}

.KanbanColumn {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  max-height: 90%;
  width: 30%;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
  background-color: white;
  &__title {
    padding: 0.2rem 0.6rem;
    word-wrap: anywhere;
    text-transform: capitalize;
    width: 100%;
    min-height: 2.4rem;
    font-size: 1.4rem;
    background-color: #f6f6f6;
    border-radius: 0.1rem 0.1rem 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  &__issues {
    height: 70vh;
    overflow-y: scroll;
  }
}

.KanbanCard {
  position: relative;
  min-height: 5rem;
  width: 95%;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
  margin: 0.5rem auto;
  padding: 0.5rem;
  padding-bottom: 2rem;
  -webkit-box-shadow: 6px 6px 8px -6px rgba(156, 156, 156, 0.67);
  -moz-box-shadow: 6px 6px 8px -6px rgba(156, 156, 156, 0.67);
  box-shadow: 6px 6px 8px -6px rgba(156, 156, 156, 0.67);
  &__title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    overflow-wrap: break-word;
    margin-right: 1rem;
  }
  &__description {
    font-size: 1rem;
    overflow-wrap: break-word;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid lightgray;
  }
  .dropdown-btn {
    display: flex;
    align-items: center;
    border: none;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 0.2rem;
    height: 1.2rem;
    background-color: white;
    font-size: 0.8rem;
    span {
      margin-right: 0.5rem;
    }
    &:hover {
      cursor: pointer;
      background-color: lightblue;
    }
  }

  &__dropdown {
    position: absolute;
    bottom: 0.2rem;
    left: 0.4rem;
    margin-top: 0.6rem;
    margin-bottom: 0.2rem;
    border-radius: 0.2rem;
    .dropdown-list {
      border: 1px solid lightgray;
      border-radius: 0.2rem;
      position: absolute;
      width: fit-content;
      top: 1.2rem;
      background-color: white;
      z-index: 100;
    }
    .menu-item {
      white-space: nowrap;
      text-transform: capitalize;
      padding: 0.4rem;
      font-size: 1rem;
      span {
        padding: 0.2rem;
        margin: 0 0.2rem;
        font-size: 0.8rem;
        border-bottom: 1px solid lightgray;
      }
      &:last-child {
        span {
          border: none;
        }
      }
      &:hover {
        cursor: pointer;
        background-color: lightblue;
      }
    }
  }
  .remove-card {
    padding: 0.2rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    .close-icon {
      width: 1rem;
      height: auto;
      fill: gray;
      &:hover {
        fill: lightcoral;
        cursor: pointer;
      }
    }
  }
}

.KanbanCardForm {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  padding: 0.5rem;
  min-height: 5rem;
  border: 1px solid lightblue;
  border-radius: 0.2rem;
  width: 95%;
  input {
    border: none;
    margin: 0.2rem 0.2rem;
  }
}
