.Boards {
  overflow-y: hidden;
}

.KanbanBoard {
  position: relative;
  margin: 1rem auto;
  max-height: 80vh;
  max-width: 80vw;
  min-width: 50rem;
  .remove-board-btn {
    padding: 0.2rem;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: transparent;
    .close-icon {
      width: 1rem;
      height: auto;
      &:hover {
        fill: lightcoral;
        cursor: pointer;
      }
    }
  }
  .KanbanBoardColumns {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 0.3rem;
    background-color: lightgrey;
  }
}

.KanbanColumn {
  margin: 1.2rem;
  display: flex;
  flex-direction: column;
  max-height: 90%;
  width: 30%;
  border: 1px solid gray;
  border-radius: 0.3rem;
  background-color: white;
  &__title {
    text-transform: capitalize;
    width: 100%;
    min-height: 2.4rem;
    font-size: 1.4rem;
    background-color: lightcoral;
    border-radius: 0.2rem 0.2rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  &__issues {
    height: 100%;
    overflow: scroll;
  }
}

.KanbanCard {
  position: relative;
  min-height: 5rem;
  width: 95%;
  border: 1px solid gray;
  border-radius: 0.2rem;
  margin: 0.5rem auto;
  padding: 0.5rem;
  &__title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  &__description {
    font-size: 1rem;
  }
  &__dropdown {
    position: relative;
    margin-top: 0.6rem;
    margin-bottom: 0.2rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    .dropdown-list {
      border: 1px solid gray;
      border-radius: 0.4rem;
      position: absolute;
      top: 1.5rem;
      background-color: white;
    }
    .menu-item {
      text-transform: capitalize;
      width: 100%;
      padding: 0.4rem;
      &:hover {
        cursor: pointer;
        background-color: lightblue;
      }
    }
  }
  .remove-card {
    padding: 0.2rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    .close-icon {
      width: 1rem;
      height: auto;
      &:hover {
        fill: lightcoral;
        cursor: pointer;
      }
    }
  }

  .dropdown {
    text-transform: capitalize;
    &:hover {
      cursor: pointer;
      background-color: lightblue;
    }
  }
}

.KanbanCardForm {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  padding: 0.5rem;
  min-height: 5rem;
  border: 1px solid lightblue;
  border-radius: 0.5rem;
  width: 95%;
  input {
    border: none;
    margin: 0.2rem 0.2rem;
  }
}
