.Navbar {
  height: 3rem;
  display: flex;
  align-items: center;
  //   justify-content: space-between;
  margin-left: 1rem;
  .nav-placeholder-icon {
    justify-self: flex-end;
    width: 35px;
    height: 35px;
    color: teal;
    background-color: teal;
    border-radius: 50%;
  }
}
